{% extends 'main/base.html'%}

{% load crispy_forms_tags %}

{% block content %}
<!-- Apply Bootstrap and static CSS styling -->
    <div class = "content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <!-- enctype allows image data to be passed -->
        <form method="POST" enctype="multipart/form-data">
            <!-- token used to protect forms against certain attacks - required by Django-->
            {% csrf_token %}
            <!-- Bootstrap class for forms, fieldset groups related elements in a form -->
            <fieldset class = "form-group"> 
                <!-- Another bootstrap class (adds a bottom border and bottom margin of 4) - legend gives the form more detail -->
                <legend class = "border-bottom mb-4">Profile Info</legend>
                <!-- Include form variable from context. use crispy filter for styling -->
                {{ p_form|crispy }}
            </fieldset>
            <!-- Submit button -->
            <div class ="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}
