{% extends 'main/base.html' %}

{% load user_extras %}
{% load event_extras %}

{% block content %}
<article class="media content-section">
    <div class="media-body">
        <!-- Display event details -->
        <div class="article-header">
            <h2 class="article-title">{{ object.title }}</h2>
            {% if object.happening_now %}
            <div class="article-status">Now</div>
            {% endif %}
            <div>
                {% if not user|has_group:'Students' %}
                    {% if object.happening_now %}
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'event-QR' object.id %}">Show QR Code</a>
                    {% endif %}
                    {% if object.started and object.event_type != "LE" %}
                        {% if object.register_taken %}
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'event-register' object.id %}">Edit Register</a>
                        {% else %}
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'event-register' object.id %}">Take Register</a>
                        {% endif %}
                    {% endif %}
                    {% if object.started %}
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'event-attendance-record' object.id %}">View Attendance Record</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="article-metadata">
            <ul class="list-unstyled">
                <li class="text-secondary"><b>Event Type:</b> {{ object.get_event_type_display }}</li>
                <li class="text-muted"><b>Location:</b> {{ object.location }}</li>
                <li class="text-muted"><b>Start Time:</b> {{ event.start_time|date:"d/m/y, H:i" }}</li>
                <li class="text-muted"><b>End Time:</b> {{ event.end_time|date:"d/m/y, H:i" }}</li>
                <li class="text-muted"><b>Leader:</b> {{ object.leader }}</li>
                {% if user|has_group:"Students" %}
                    <li class="text-muted">
                    <!-- user = logged in user -->
                        <b>Authentication Time:</b>
                        {% if object|attendance_authenticated:user %}
                            {{ object|auth_time:user|date:"d/m/y, H:i" }}
                        {% else %}
                            N/A
                        {% endif %}
                    </li>
                <li class="text-muted">
                    {% if object.event_type != "LE" %}
                        <b>Verification Time:</b>
                        {% if object|attendance_verified:user %}
                            {{ object|verification_time:user|date:"d/m/y, H:i" }}
                        {% else %}
                            N/A
                        {% endif %}
                    {% endif %}
                </li>
                {% endif %}
            </ul>
        </div>
        <div>
            <!-- Only students shouldn't be able to see event attendees. Uses custom extras defined in user_extras.py -->
            {% if not user|has_group:'Students' %}
            <ul class="list-unstyled">
                <li class="text-muted"><b>Attendees:</b></li>
                <small class="text-muted">
                    {% for student in event.attendees.all %}
                    <ul class="list-unstyled">
                        <li class="list-unstyled-item"><a href="{% url 'user-profile' student.user.username %}">
                            {{ student.user.username }}</a></li>
                    </ul>
                    {% endfor %}
                </small></li>
            </ul>
            {% endif %}
        </div>
    </div>
</article>
{% endblock content %}