{% extends 'main/base.html' %}

{% load event_extras %}

{% block content %}


<h2>Attendance Record for <a href="{% url 'event-detail' object.pk %}">{{ object.title }}</a></h2>

<div class="pl-3 mt-2 pt-2 mb-2 border-top">
    <h5>Students authenticated: {{ perc_auth }}%</h5>
    <h5>Students verified: {{ perc_reg }}%</h5>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Authentication Time</th>
                <th scope="col">Verification Time</th>
            </tr>
        </thead>
        <tbody>
            {% for student in object.attendees.all %}
            <tr>
                <td><a href="{% url 'user-profile' student.user.username %}">{{ student.user.first_name }} {{ student.user.last_name }}</a></td>
                <td><img src="{{ student.user.profile.image.url }}" class="article-img rounded-circle"></td>
                <td>{% if object|attendance_authenticated:student.user %}
                        {{ object|auth_time:student.user|date:"d/m/y, H:i" }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    {% if object|attendance_verified:student.user %}
                        {{ object|verification_time:student.user|date:"d/m/y, H:i" }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}