{% extends 'main/base.html' %}

{% load static %}

{% block custom_css %}
<!-- Link to stylesheet -->
<link rel="stylesheet" href="{% static 'main/style.css' %}">
<link rel="stylesheet" href="{% static 'main/main.css' %}">
{% endblock custom_css %}

{% block content %}
<article class="media content-section">
    <!-- Add author profile image -->
    <div class="media-body">
        <div class="article-header">
            <h2 class="article-title">Scan QR Code To Authenticate Attendance</h2>
        </div>
        <div class="row">
            <form method="POST" id="auth_form" class="col-md-12" style="display:none;">
                <!-- token used to protect forms against certain attacks - required by Django-->
                {% csrf_token %}
                <!-- Bootstrap class for forms, fieldset groups related elements in a form -->
                <fieldset class="form-group">
                    <!-- Another bootstrap class (adds a bottom border and bottom margin of 4) - legend gives the form more detail -->
                    <!-- <legend class = "border-bottom mb-4">Enter Authentication Hash</legend> -->
                    <!-- Include form variable from context. use crispy filter for styling -->
                    {{ form }}
                </fieldset>
                <!-- Submit button -->
                <div class="form-group">
                    <!-- <button class="btn btn-outline-info" type="submit">Update</button> -->
                </div>
            </form>
        </div>

        <div class="row">
            <div id="camera" class="col-md-12">
                <!-- Camera sensor -->
                <video id="camera--view" autoplay playsinline></video>
                <!-- Access device camera and display video stream-->
                <img id="camera--output" alt="" src="//:0" style="display:none">
                <canvas id="camera--sensor" style="display:none;"></canvas> <!-- Grabs frame from video stream when requested -->
                <button id="camera--trigger" class="btn btn-outline-info">Scan QR Code</button>
            </div>
        </div>


    </div>
</article>
{% endblock content %}

{% block custom_js %}
<!-- JavaScript file reference -->
<script src="{% static 'main/js/app.js' %}"></script> <!-- Main JS -->
<!-- JS for file upload - just for testing - remove later -->
<!-- QR Code scanning JS -->
<script type="text/javascript" src="{% static 'main/js/grid.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/version.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/detector.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/formatinf.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/errorlevel.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/bitmat.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/datablock.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/bmparser.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/datamask.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/rsdecoder.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/gf256poly.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/gf256.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/decoder.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/qrcode.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/findpat.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/alignpat.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/databr.js' %}"></script>
{% endblock custom_js %}