{% extends 'main/register_list.html' %}

{% block upcoming_or_past %}
    <h2>Completed Event Registers ({{ page_obj.paginator.count }})</h2> <!-- Display number of upcoming events for this user -->
    <h6><a class="subtitle" href="{% url 'outstanding-registers' %}">View Outstanding Event Registers</a></h6>
{% endblock upcoming_or_past %}

{% block take_or_edit_register %}
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'event-register' event.id %}">Edit Register</a>
{% endblock take_or_edit_register %}