{% extends 'main/user_events.html' %}

{% load user_extras %}
{% load event_extras %}

{% block upcoming_or_past %}
    <!-- view.kwargs.username extracts username from URL -->
    <h1><a href="{% url 'user-profile' view.kwargs.username %}">{{ view.kwargs.username }}</a>'s Past Events ({{ page_obj.paginator.count }})</h1> <!-- Display number of upcoming events for this user -->
    <h6><a class="subtitle" href="{% url 'user-events' view.kwargs.username %}">View Upcoming Events</a></h6>
{% endblock upcoming_or_past %}
