{% extends 'main/base.html'%}

{% block content %}
    <!-- custom CSS class -->
    <div class = "content-section">
        <form method="POST">
            <!-- token used to protect forms against certain attacks - required by Django-->
            {% csrf_token %}
            <!-- Bootstrap class for forms, fieldset groups related elements in a form -->
            <fieldset class = "form-group"> 
                <!-- Another bootstrap class (adds a bottom border and bottom margin of 4) - legend gives the form more detail -->
                <legend class = "border-bottom mb-4">Delete Post</legend>
                <!-- Include form variable from context. use crispy filter for styling -->
                <h2>Are you sure you want to delete "{{ object.title }}"?</h2>
            </fieldset>
            <!-- Submit button -->
            <div class ="form-group">
                <button class="btn btn-outline-danger" type="submit">Delete</button>
                <!-- Redirect to post details  -->
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
